html,
body {
  margin: 0;
  padding: 0;

  /* the body should be the whole screen so it can react to drag-n-drop events */
  min-height: 100vh;
  min-width: 100vw;
}

header {
  width: 100vw;
  height: 5em;
  text-align: right;
  padding: 1em;
  box-sizing: border-box;
  position: relative;
}

header h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5rem;
  display: block;
  text-align: center;
  z-index: -1;
}

header .search,
header .sort {
  margin-left: 1em;
  display: inline-block;
}

section.picture,
section.upload {
  border: 1px solid #bbb;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 1em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

section.picture a.img {
  margin: auto;
  display: block;
}

section.picture img {
  max-width: 15em;
  max-height: 15em;
}

section.picture p.title {
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center;
  max-width: 15em;
}

section.picture .delete {
  display: block;
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  font-size: 67%;
  width: 1em;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  background: rgba(255, 0, 0, 0.5);
  color: white;
  opacity: 0;
  visibility: hidden; /* hidden elements don't register clicks */
  transition: opacity 0.3s, visibility 0s;
  font-family: "Arial", sans-serif;
}

section.picture:hover .delete {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 1.5s, visibility 0s 1.5s;
}

section.upload {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  order: 2; /* after all the picture sections */
  min-height: 15rem;
}

section.upload a {
  font-size: 200%;
  max-width: 6.5em;
  text-align: center;
  color: black;
  text-decoration: none;
}

section.upload a:hover {
  text-decoration: underline;
}

section.upload.highlight-for-drop {
  box-shadow: 0 0 1rem 0.3rem yellow;
}

section.upload.highlight-deny {
  box-shadow: 0 0 1rem 0.3rem red;
}

section.upload > .drop,
section.upload > .deny,
section.upload > .confirm {
  box-sizing: border-box;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

section.upload > .confirm {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  line-height: 1.5rem;
}

section.upload > .confirm > .preview {
  flex-basis: 100%;
  flex-shrink: 1;
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 1rem;
}

section.upload > .confirm > .preview > img {
  max-height: 100%;
  max-width: 100%;
}

section.upload > .confirm > .preview:empty {
  border: 2px dashed #888;
}

section.upload > .confirm > .title {
  flex-basis: 100%;
  flex-shrink: 1;
  text-align: center;
  position: relative;
}

section.upload > .confirm > .title > input {
  width: 90%;
  font-size: 1rem;
  box-sizing: border-box;
}

section.upload > .confirm > button {
  margin: 1rem;
}

section.upload:not(.confirm) > .confirm,
section.upload:not(.highlight-for-drop) > .drop,
section.upload:not(.highlight-deny) > .deny,
section.upload.highlight-deny > .drop,
section.upload.highlight-for-drop > .normal,
section.upload.highlight-deny > .normal,
section.upload.confirm > .normal {
  visibility: hidden;
}

section.upload > .hint {
  box-sizing: border-box;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 0 1em;
  margin: 0;
}

/* stylelint-disable no-descending-specificity, bug https://github.com/stylelint/stylelint/issues/3072 */

/* hide the pictures and the upload box before we've finished loading */
main:not(.loading) > .loading,
main.loading > :not(.loading),
main:not(.error) > .error,
main.error > :not(.error) {
  display: none;
}
